/* You can import this from CDN or customize your own */
#nprogress .bar {
  background: #2563eb; /* Tailwind blue-600 */
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #2563eb, 0 0 5px #2563eb;
}
